# ðŸ¼ Pandas Assignment SolutionsThis notebook contains the solutions to all parts of the real-world pandas assignments.

## PART 1: Netflix Movies and TV Shows

In [ ]:
import pandas as pdnetflix = pd.read_csv("netflix_titles.csv")  # Adjust path as needed# 1. Display the first and last 5 rowsnetflix.head()

In [ ]:
netflix.tail()

In [ ]:
# 2. Number of rows and columnsnetflix.shape

In [ ]:
# 3. Unique countriesnetflix['country'].nunique()

In [ ]:
# 4. Records where type is 'TV Show'netflix[netflix['type'] == 'TV Show']

In [ ]:
# 5. Convert 'date_added' to datetime and extract year, monthnetflix['date_added'] = pd.to_datetime(netflix['date_added'])netflix['year_added'] = netflix['date_added'].dt.yearnetflix['month_added'] = netflix['date_added'].dt.monthnetflix[['date_added', 'year_added', 'month_added']].head()

In [ ]:
# 6. Movies released in 2019netflix[(netflix['type'] == 'Movie') & (netflix['release_year'] == 2019)].shape[0]

In [ ]:
# 7. Group by ratingnetflix['rating'].value_counts()

## PART 2: World Population Dataset

In [ ]:
pop = pd.read_csv("world_population.csv")  # Adjust path as neededpop.head(10)

In [ ]:
# Check for null valuespop.isnull().sum()

In [ ]:
# Top 5 most populous countriespop[['Country', 'Population']].sort_values(by='Population', ascending=False).head(5)

In [ ]:
# GDP per capitapop['GDP_per_capita'] = pop['GDP'] / pop['Population']pop.head()

In [ ]:
# Filter by population and areapop[(pop['Population'] > 100_000_000) & (pop['Area (kmÂ²)'] < 500_000)]

In [ ]:
# Sort by densitydens_sorted = pop.sort_values(by='Density (per kmÂ²)', ascending=False)dens_sorted[['Country', 'Density (per kmÂ²)']].head()

## PART 3: Indian Premier League (IPL)

In [ ]:
matches = pd.read_csv("matches.csv")  # Adjust pathdeliveries = pd.read_csv("deliveries.csv")

In [ ]:
# Most successful teammatches['winner'].value_counts().head(1)

In [ ]:
# Matches per seasonmatches['season'].value_counts()

In [ ]:
# Top 5 Player of the Matchmatches['player_of_match'].value_counts().head(5)

In [ ]:
# Merge datasetsmerged = pd.merge(deliveries, matches, left_on='match_id', right_on='id')merged.head()

## PART 4: Students Performance

In [ ]:
students = pd.read_csv("StudentsPerformance.csv")  # Adjust path# Average marksstudents[['math score', 'reading score', 'writing score']].mean()

In [ ]:
# Writing performance by genderstudents.groupby('gender')['writing score'].mean()

In [ ]:
# Total score and percentagestudents['total'] = students[['math score', 'reading score', 'writing score']].sum(axis=1)students['percentage'] = students['total'] / 3students.head()

In [ ]:
# Bar chart by parental level of educationimport matplotlib.pyplot as pltstudents.groupby('parental level of education')[['math score', 'reading score', 'writing score']].mean().plot(kind='bar')plt.title('Average Scores by Parental Education')plt.ylabel('Average Score')plt.xticks(rotation=45)plt.tight_layout()plt.show()

In [ ]:
# Students scoring above 90% in all subjectsstudents[(students['math score'] > 90) & (students['reading score'] > 90) & (students['writing score'] > 90)]

## PART 5: Flight Price Prediction

In [ ]:
flights = pd.read_csv("flight_data.csv")  # Adjust pathflights.info()flights.describe()

In [ ]:
# Convert datetime columnsflights['Date_of_Journey'] = pd.to_datetime(flights['Date_of_Journey'], format='%d/%m/%Y')flights['Journey_Day'] = flights['Date_of_Journey'].dt.dayflights['Journey_Month'] = flights['Date_of_Journey'].dt.monthflights.head()

In [ ]:
# Most frequent airline and sourceflights['Airline'].mode()[0], flights['Source'].mode()[0]

In [ ]:
# Remove duplicates and handle missingflights.drop_duplicates(inplace=True)flights.dropna(inplace=True)flights.isnull().sum()